Source: qtmoko-spectemu
Section: comm
Priority: optional
Maintainer: Radek Polak <psonek2@seznam.cz>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.qtmoko.org
Vcs-Git: git://github.com/radekp/qtmoko.git
Vcs-Browser: https://github.com/radekp/qtmoko

Package: qtmoko-spectemu
Architecture: any
Depends: 
Description: ZX-spectrum emulator
