#!/usr/bin/make -f

build:

clean:
	rm -rf debian/tmp
	rm -f debian/files

binary: build
	../../../../../build/bin/qbuild packages
	mkdir -p debian/tmp/opt/qtmoko
	cd debian/tmp/opt/qtmoko && tar xzvpf ../../../../../../../../../build/src/3rdparty/applications/spectemu/pkg/*
	cd debian/tmp/opt/qtmoko && tar xzvpf data.tar.gz
	cd debian/tmp/opt/qtmoko && rm -f control
	cd debian/tmp/opt/qtmoko && rm -f data.tar.gz
	install -d debian/tmp/DEBIAN
	dpkg-gencontrol
	dh_installdeb -P debian/tmp
	chown -R root:root debian/tmp/opt
	chmod -R u+w,go=rX debian/tmp/opt
	dpkg --build debian/tmp ..
